In [5]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\peggy\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\peggy\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\peggy\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [85]:
!pip install ipython_sql

Requirement already satisfied: ipython_sql in c:\users\peggy\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\peggy\anaconda3\lib\site-packages (from ipython_sql) (3.11.0)
Requirement already satisfied: ipython in c:\users\peggy\anaconda3\lib\site-packages (from ipython_sql) (8.25.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\peggy\anaconda3\lib\site-packages (from ipython_sql) (2.0.30)
Requirement already satisfied: sqlparse in c:\users\peggy\anaconda3\lib\site-packages (from ipython_sql) (0.5.1)
Requirement already satisfied: six in c:\users\peggy\anaconda3\lib\site-packages (from ipython_sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\peggy\anaconda3\lib\site-packages (from ipython_sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\peggy\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython_sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\peggy\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython_sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\peggy\anaconda3\lib\site-packages (from ipython->ipython_sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\peggy\anaconda3\lib\site-packages (from ipython->ipython_sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\peggy\anaconda3\lib\site-packages (from ipython->ipython_sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\peggy\anaconda3\lib\site-packages (from ipython->ipython_sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\peggy\anaconda3\lib\site-packages (from ipython->ipython_sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\peggy\anaconda3\lib\site-packages (from ipython->ipython_sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\peggy\anaconda3\lib\site-packages (from ipython->ipython_sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\peggy\anaconda3\lib\site-packages (from ipython->ipython_sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\peggy\anaconda3\lib\site-packages (from prettytable->ipython_sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\peggy\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython_sql) (0.8.3)
Requirement already satisfied: executing in c:\users\peggy\anaconda3\lib\site-packages (from stack-data->ipython->ipython_sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\peggy\anaconda3\lib\site-packages (from stack-data->ipython->ipython_sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\peggy\anaconda3\lib\site-packages (from stack-data->ipython->ipython_sql) (0.2.2)

In [1]:
%load_ext sql

In [3]:
%sql sqlite:///orders.db3

 * sqlite:///orders.db3
(sqlite3.OperationalError) no such table: product
[SQL: DROP TABLE product]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [215]:
%%sql
CREATE TABLE product (
    id int NOT NULL UNIQUE, 
    description VARCHAR(200), 
    price float, 
    PRIMARY KEY(id)
);

 * sqlite:///orders.db3
(sqlite3.OperationalError) table product already exists
[SQL: CREATE TABLE product (
    id int NOT NULL UNIQUE,
    description VARCHAR(200),
    price float,
    PRIMARY KEY(id)
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [40]:
%sql SELECT * FROM product

 * sqlite:///orders.db3
Done.

[]

In [11]:
csv_table = []

In [97]:
import csv
with open ('orders.csv', newline='') as file:
    lire = csv.reader(file, delimiter=';')
    next(lire)
    i=0
    for ligne in lire :
        print(ligne, end='\n')
        csv_table.append(ligne)
        i+=1
        if i >50:
            break

['1', '536365', '2010/12/01', '4049', 'United Kingdom', '1', '6', '756', 'GLASS STAR FROSTED T-LIGHT HOLDER', '4.25']
['1', '536365', '2010/12/01', '4049', 'United Kingdom', '2', '2', '1606', 'SET 7 BABUSHKA NESTING BOXES', '7.65']
['1', '536365', '2010/12/01', '4049', 'United Kingdom', '3', '6', '2650', 'WHITE METAL LANTERN', '3.39']
['1', '536365', '2010/12/01', '4049', 'United Kingdom', '4', '6', '2803', 'RED WOOLLY HOTTIE WHITE HEART.', '3.39']
['1', '536365', '2010/12/01', '4049', 'United Kingdom', '5', '6', '2804', 'KNITTED UNION FLAG HOT WATER BOTTLE', '3.39']
['1', '536365', '2010/12/01', '4049', 'United Kingdom', '6', '8', '2856', 'CREAM CUPID HEARTS COAT HANGER', '2.75']
['1', '536365', '2010/12/01', '4049', 'United Kingdom', '7', '6', '3250', 'WHITE HANGING HEART T-LIGHT HOLDER', '2.55']
['2', '536366', '2010/12/01', '4049', 'United Kingdom', '8', '6', '1490', 'HAND WARMER RED POLKA DOT', '1.85']
['2', '536366', '2010/12/01', '4049', 'United Kingdom', '9', '6', '1491', 'HAND WARMER UNION JACK', '1.85']
['3', '536367', '2010/12/01', '541', 'United Kingdom', '10', '3', '772', 'HOME BUILDING BLOCK WORD', '5.95']
['3', '536367', '2010/12/01', '541', 'United Kingdom', '11', '3', '773', 'LOVE BUILDING BLOCK WORD', '5.95']
['3', '536367', '2010/12/01', '541', 'United Kingdom', '12', '4', '784', 'RECIPE BOX WITH METAL HEART', '7.95']
['3', '536367', '2010/12/01', '541', 'United Kingdom', '13', '6', '1192', 'IVORY KNITTED MUG COSY ', '1.65']
['3', '536367', '2010/12/01', '541', 'United Kingdom', '14', '2', '1480', 'BOX OF VINTAGE ALPHABET BLOCKS', '9.95']
['3', '536367', '2010/12/01', '541', 'United Kingdom', '15', '3', '1481', 'BOX OF VINTAGE JIGSAW BLOCKS ', '4.95']
['3', '536367', '2010/12/01', '541', 'United Kingdom', '16', '6', '1599', "POPPY'S PLAYHOUSE BEDROOM ", '2.1']
['3', '536367', '2010/12/01', '541', 'United Kingdom', '17', '6', '1602', "POPPY'S PLAYHOUSE KITCHEN", '2.1']
['3', '536367', '2010/12/01', '541', 'United Kingdom', '18', '8', '1603', 'FELTCRAFT PRINCESS CHARLOTTE DOLL', '3.75']
['3', '536367', '2010/12/01', '541', 'United Kingdom', '19', '4', '2629', 'DOORMAT NEW ENGLAND', '7.95']
['3', '536367', '2010/12/01', '541', 'United Kingdom', '20', '32', '3070', 'ASSORTED COLOUR BIRD ORNAMENT', '1.69']
['3', '536367', '2010/12/01', '541', 'United Kingdom', '21', '6', '3125', 'BOX OF 6 ASSORTED COLOUR TEASPOONS', '4.25']
['4', '536368', '2010/12/01', '541', 'United Kingdom', '22', '3', '1759', 'YELLOW COAT RACK PARIS FASHION', '4.95']
['4', '536368', '2010/12/01', '541', 'United Kingdom', '23', '3', '1760', 'RED COAT RACK PARIS FASHION', '4.95']
['4', '536368', '2010/12/01', '541', 'United Kingdom', '24', '3', '1761', 'BLUE COAT RACK PARIS FASHION', '4.95']
['4', '536368', '2010/12/01', '541', 'United Kingdom', '25', '6', '1806', 'JAM MAKING SET WITH JARS', '4.25']
['5', '536369', '2010/12/01', '541', 'United Kingdom', '26', '3', '774', 'BATH BUILDING BLOCK WORD', '5.95']
['6', '536370', '2010/12/01', '192', 'France', '27', '48', '1', 'INFLATABLE POLITICAL GLOBE ', '0.85']
['6', '536370', '2010/12/01', '192', 'France', '28', '18', '317', 'SET/2 RED RETROSPOT TEA TOWELS ', '2.95']
['6', '536370', '2010/12/01', '192', 'France', '29', '12', '753', 'PANDA AND BUNNIES STICKER SHEET', '0.85']
['6', '536370', '2010/12/01', '192', 'France', '30', '24', '757', 'RED TOADSTOOL LED NIGHT LIGHT', '1.65']
['6', '536370', '2010/12/01', '192', 'France', '31', '24', '793', 'VINTAGE HEADS AND TAILS CARD GAME ', '1.25']
['6', '536370', '2010/12/01', '192', 'France', '32', '24', '855', 'STARS GIFT TAPE ', '0.65']
['6', '536370', '2010/12/01', '192', 'France', '33', '12', '880', 'VINTAGE SEASIDE JIGSAW PUZZLES', '3.75']
['6', '536370', '2010/12/01', '192', 'France', '34', '24', '1208', 'ROUND SNACK BOXES SET OF4 WOODLAND ', '2.95']
['6', '536370', '2010/12/01', '192', 'France', '35', '36', '1357', 'MINI PAINT SET VINTAGE ', '0.65']
['6', '536370', '2010/12/01', '192', 'France', '36', '24', '1402', 'MINI JIGSAW CIRCUS PARADE ', '0.42']
['6', '536370', '2010/12/01', '192', 'France', '37', '24', '1405', 'MINI JIGSAW SPACEBOY', '0.42']
['6', '536370', '2010/12/01', '192', 'France', '38', '24', '1487', 'SPACEBOY LUNCH BOX ', '1.95']
['6', '536370', '2010/12/01', '192', 'France', '39', '24', '1489', 'CIRCUS PARADE LUNCH BOX ', '1.95']
['6', '536370', '2010/12/01', '192', 'France', '40', '24', '1514', 'LUNCH BOX I LOVE LONDON', '1.95']
['6', '536370', '2010/12/01', '192', 'France', '41', '20', '1516', 'CHARLOTTE BAG DOLLY GIRL DESIGN', '0.85']
['6', '536370', '2010/12/01', '192', 'France', '42', '12', '1580', 'ALARM CLOCK BAKELIKE GREEN', '3.75']
['6', '536370', '2010/12/01', '192', 'France', '43', '24', '1581', 'ALARM CLOCK BAKELIKE RED ', '3.75']
['6', '536370', '2010/12/01', '192', 'France', '44', '24', '1582', 'ALARM CLOCK BAKELIKE PINK', '3.75']
['6', '536370', '2010/12/01', '192', 'France', '45', '24', '1748', ' SET 2 TEA TOWELS I LOVE LONDON ', '2.95']
['6', '536370', '2010/12/01', '192', 'France', '46', '3', '3684', 'POSTAGE', '18.0']
['7', '536371', '2010/12/01', '1048', 'United Kingdom', '47', '80', '990', "PAPER CHAIN KIT 50'S CHRISTMAS ", '2.55']
['8', '536372', '2010/12/01', '4049', 'United Kingdom', '48', '6', '1490', 'HAND WARMER RED POLKA DOT', '1.85']
['8', '536372', '2010/12/01', '4049', 'United Kingdom', '49', '6', '1491', 'HAND WARMER UNION JACK', '1.85']
['9', '536373', '2010/12/01', '4049', 'United Kingdom', '50', '6', '143', 'EDWARDIAN PARASOL RED', '4.95']
['9', '536373', '2010/12/01', '4049', 'United Kingdom', '51', '6', '338', 'VINTAGE BILLBOARD LOVE/HATE MUG', '1.06']

In [17]:
csv_table[7]

['2',
 '536366',
 '2010/12/01',
 '4049',
 'United Kingdom',
 '8',
 '6',
 '1490',
 'HAND WARMER RED POLKA DOT',
 '1.85']

In [99]:
def product_table(csv_table):
    product_list = []
    for i in range(0, len(csv_table) - 1) :
        product_list.append([csv_table[i][7], csv_table[i][8], csv_table[i][9]])
    return product_list

variable = product_table(csv_table)

In [29]:
import sqlite3

In [101]:

#for row in variable: 
    #print(row)
    #%sql f'INSERT INTO product (id, description, price) VALUES ({row[0]}, {row[1]}, {row[2]})'

In [103]:
conn = sqlite3.connect('orders.db3')

In [143]:
sql = ''' INSERT or IGNORE INTO product (id, description, price) 
                VALUES (?, ?, ?) '''

cur = conn.cursor()

for product in variable:
    cur.execute(sql, product)
conn.commit()

In [145]:
%%sql
CREATE TABLE customer (
    id int NOT NULL UNIQUE, 
    country VARCHAR(200),  
    PRIMARY KEY(id),
);

 * sqlite:///orders.db3
Done.

[]

In [148]:
%sql SELECT * FROM customer

 * sqlite:///orders.db3
Done.

[]

In [150]:
def customer_table(csv_table):
    customer_list = []
    for i in range(0, len(csv_table) - 1) :
        customer_list.append([csv_table[i][3], csv_table[i][4]])
    return customer_list

variable_customer = customer_table(csv_table)

In [152]:
sql = ''' INSERT or IGNORE INTO customer (id, country) 
                VALUES (?, ?) '''

cur = conn.cursor()

for customer in variable_customer:
    cur.execute(sql, customer)
conn.commit()

In [205]:
%sql DROP TABLE customer_order

 * sqlite:///orders.db3
Done.

[]

In [207]:
%%sql

CREATE TABLE customer_order (
    id int NOT NULL, 
    invoice_nb int NOT NULL, 
    invoice_date date NOT NULL,
    customer_id int NOT NULL,
    PRIMARY KEY(id), 
    FOREIGN KEY(customer_id) REFERENCES customer (id)
);

 * sqlite:///orders.db3
Done.

[]

In [209]:
%sql SELECT * FROM customer_order

 * sqlite:///orders.db3
Done.

[]

In [211]:
def customer_order_table(csv_table):
    customer_order_list = []
    for i in range(0, len(csv_table) - 1) :
        customer_order_list.append([csv_table[i][0], csv_table[i][1], csv_table[i][2], csv_table[i][3] ])
    return customer_order_list

variable_customer_order = customer_order_table(csv_table)

In [213]:
sql = ''' INSERT or IGNORE INTO customer_order (id, invoice_nb, invoice_date, customer_id) 
                VALUES (?,?,?,?) '''

cur = conn.cursor()

for customer_order in variable_customer_order:
    cur.execute(sql, customer_order)
conn.commit()

In [195]:
%%sql
CREATE TABLE order_detail (
    id int NOT NULL, 
    quantity int NOT NULL, 
    order_id int NOT NULL,
    product_id int NOT NULL,
    PRIMARY KEY(id), 
    FOREIGN KEY(order_id) REFERENCES customer_order (id),
    FOREIGN KEY(product_id) REFERENCES product (id)
);

 * sqlite:///orders.db3
Done.

[]

In [201]:
def order_detail_table(csv_table):
    order_detail_list = []
    for i in range(0, len(csv_table) - 1) :
        order_detail_list.append([csv_table[i][5], csv_table[i][6], csv_table[i][0], csv_table[i][7] ])
    return order_detail_list

variable_order_detail = order_detail_table(csv_table)

In [203]:
sql = ''' INSERT or IGNORE INTO order_detail (id, quantity, order_id, product_id) 
                VALUES (?,?,?,?) '''

cur = conn.cursor()

for order_detail in variable_order_detail:
    cur.execute(sql, order_detail)
conn.commit()

In [ ]:
# CORRECTION

In [ ]:
tables = ["customer", "product", "order_detail", "customer_order"]

table_columns = {
    "customer": ["id", "country"],
    "product" :["id", "description", "price"],
    "customer_order" :["id", "invoice_nb", "invoice_date, "customer_id"]
    "order_detail":["id", "quantity", "order_id", "product_id"]
}